body{
  background-color:D9D7F1; 
}
hr{
  border-style:none;
  border-top-style:dotted;
  width: 5%;
  border-color: grey;
  border-width:5px
  
}
h2{
color:9C9EFE;
}
h1{
color:9C9EFE;
}
h4{
color:AFB4FF;
}
.middle-container{
  background-color:B1E1FF;
}